instance/*
!instance/.gitignore
.webassets-cache
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.scrapy
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# intelliJ
.idea/
out/

# Deployment
nohup.out

# VS code
.vscode

/resources/*
!resources/dataset/
!resources/ckpts
!resources/dataset/*
resources/dataset/*/
resources/dataset/audio-infos-v2.1.db

*.ipynb
!demo.ipynb
scripts/*
!scripts/*.py
!scripts/*.ipynb
!scripts/playlist_queue.txt
*.lprof
wandb
